:root {
	--main-bg-color: #8fabc2;
	--green: #6b8976;
	--yellow: #fae1be;
	--orange: #ff7262;
	--dark-green: #768687;
	--dark-blue: #2e5263;
	--light-grey: #d7d7d7;
	--almost-white: #f6f6f6;
}

body,
h1,
h2,
h3,
ul,
button,
p {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	display: flex;
}

.sidebar {
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 3%;
}

.title {
	color: var(--green);
	font-size: 3.5rem;
	padding-top: 25px;
	padding-bottom: 25px;
}

.project-title {
	font-size: 2.2rem;
	padding-bottom: 10px;
	text-decoration: underline;
	color: var(--dark-blue);
}

.project-list {
	list-style: none;
	color: var(--almost-white);
	padding-bottom: 5%;
	cursor: pointer;
	padding-left: 3%;
}

.project-name {
	font-size: 1.8rem;
	transition: transform 0.25s ease-in-out;
}

.project-name:hover {
	transform: scale(1.1);
}

.selected-project {
	transform: scale(1.1);
	font-weight: 800;
	color: var(--green);
}

.sidebar form {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 2%;
}

.new-project-input {
	width: 100%;
	border-radius: 15px;
	border: 3px solid var(--orange);
	padding: 5px 8px;
	background-color: var(--light-grey);
	color: var(--dark-blue);
}

.btn-new-project {
	padding: 5px 10px;
	border-radius: 15px;
	background-color: var(--yellow);
	border: 3px solid var(--orange);
	color: var(--dark-green);
	cursor: pointer;
}

.btn-new-project:hover {
	background-color: #ff7262;
	border: 3px solid var(--yellow);
	color: var(--light-grey);
}

/* Body */
.body-container {
	background-color: var(--almost-white);
	width: 100%;
	display: flex;
	justify-content: center;
	padding-right: 5%;
	font-size: 1.3rem;
}

/* Task Container */

.tasks-container {
	background-color: var(--almost-white);
	width: 80%;
	margin: 3% 0;
	display: flex;
	flex-direction: column;
}

.project-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-name-title {
	color: var(--dark-blue);
	text-decoration: underline;
	padding-bottom: 1%;
}

.new-task-btn {
	border: none;
	color: var(--green);
	font-size: 2.2rem;
	cursor: pointer;
	transition: transform 0.25s ease-in-out;
	transform-origin: center;
}

.new-task-btn:hover {
	transform: scale(1.15);
	color: var(--orange);
}

.task-body {
	display: flex;
	flex-direction: column;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px dashed var(--green);
	padding: 2% 0;
}

.input-container {
	display: flex;
	gap: 2%;
	width: 50%;
}

.input-container label {
	white-space: nowrap;
}

.task-info {
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

.task-duedate,
.task-priority {
	font-size: 1.3rem;
}

.task-btn-container {
	display: flex;
	gap: 10%;
}

.task-btn-container button {
	border: none;
	cursor: pointer;
}

.fa-trash-can:hover {
	color: var(--orange);
}

.fa-pen-to-square:hover {
	color: var(--dark-blue);
}

/* Task Form */

.task-modal {
	background-color: var(--main-bg-color);
	border: none;
	border-radius: 15px;
}

.task-form-container {
	background-color: white;
	border-radius: 15px;
	padding: 5%;
	width: 500px;
}

.form-title {
	padding-bottom: 2%;
	text-decoration: underline;
	color: var(--dark-blue);
	text-align: center;
}

form {
	display: grid;
}

label {

}

.task input {

}

.form-btns {
	display: flex;
	justify-content: space-evenly;
}

.add-task-btn {
	margin-top: 5%;
	justify-self: center;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: var(--yellow);
	border: 3px solid var(--yellow);
	color: var(--orange);
	cursor: pointer;
}

.add-task-btn:hover {
	border: 3px solid var(--green);
}

.cancel-task-btn {
	margin-top: 5%;
	justify-self: center;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: var(--orange);
	border: 3px solid var(--orange);
	color: var(--yellow);
	cursor: pointer;
}

.cancel-task-btn:hover {
	border: 3px solid var(--dark-blue);
}
